<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
	<!-- Section: Social media -->
	<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<!-- Left -->
		<div class="me-5 d-none d-lg-block">
			<span>Conéctate a nuestras redes:</span>
		</div>
		<!-- Left -->

		<!-- Right -->
		<div>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-google"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-linkedin"></i>
			</a>
			<a href="" class="me-4 text-reset">
				<i class="fab fa-github"></i>
			</a>
		</div>
		<!-- Right -->
	</section>
	<!-- Section: Social media -->

	<!-- Section: Links  -->
	<section class="">
		<div class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div class="row mt-3">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<!-- Content -->
					<h6 class="text-uppercase fw-bold mb-4">
						<i class="fas fa-gem me-3"></i>Onlyflans
					</h6>
					<p>
						Visita la mejor pastelería con los flanes más jugosos de la web.
						No te pierdas las novedades y recetas.
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Productos
					</h6>
					<p>
						<a href="#" class="text-reset">Flanes</a>
					</p>
					<p>
						<a href="#" class="text-reset">Mermeladas</a>
					</p>
					<p>
						<a href="#" class="text-reset">Pasteles</a>
					</p>
					<p>
						<a href="#" class="text-reset">Manjares</a>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Links:
					</h6>
					<p>
						<a href="#" class="text-reset">Precios</a>
					</p>
					<p>
						<a href="/about" class="text-reset">Nosotros</a>
					</p>
					<p>
						<a href="/welcome" class="text-reset">Bienvenido</a>
					</p>
					<p>
						<a href="#" class="text-reset">Ayuda</a>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
					<p><i class="fas fa-home me-3"></i> Valdivia, Chile</p>
					<p>
						<i class="fas fa-envelope me-3"></i>
						contacto@onlyflans.com
					</p>
					<p><i class="fas fa-phone me-3"></i> + 56 632 222222</p>
					<p><i class="fas fa-print me-3"></i> + 56 632 222222</p>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	</section>
	<!-- Section: Links  -->

	<!-- Copyright -->
	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2024 Copyright - Creado por Fernando Jara para Desafio Latam.
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->
<!-- fuente: https://codepen.io/AndreeaBunget/pen/MWYaoyx -->
<!--
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="first">
                    <h4>My Skills</h4>
                    <p> Analytical Skills</p>
                    <p> Problem-solving skills</p>
                    <p> Critical-thinking skills</p>
                    <p> Detail-oriented</p>
                    <p> Multitasking</p>
                    <p> Self-motivated</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4> Navigate</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="third">
                    <h4> Contact</h4>
                    <ul>
                        <li>Andreea Mihaela Bunget </li>
                        <li></li>


                        <li><i class="far fa-envelope"></i> andreea@andreeabunget.co.uk</li>
                        <li><i class="far fa-envelope"></i> email@yahoo.com</li>


                        <li><i class="fas fa-map-marker-alt"></i> London, UK </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="line"></div>
                <div class="second2">
                    <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i
                            class="fab fa-codepen fa-2x margin"></i></a>
                    <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i
                            class="fab fa-github fa-2x margin"></i></a>
                    <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank">
                        <i class="fab fa-linkedin fa-2x margin"></i></a>
                    <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber"
                        target="_blank"><i class="fab fa-youtube fa-2x margin"></i></a>

                </div>

            </div>
        </div>
    </div>
</div>
-->