{% extends 'base.html' %}

{% block content %}
    <h1>Modulo de registro</h1>
    <div class="row">
        <div class="col-4 offset-4">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <!--
                <div class="mb-3">
                    <label class="form-label">Ingresa tu nombre de usuario:</label>
                    <input type="text" class="form-control" name="{{ form.username.name }}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingresa tu correo electrónico:</label>
                    <input type="email" class="form-control" name="{{ form.email.name }}" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingresa tu contraseña:</label>
                    <input type="password" class="form-control" name="{{ form.password.name }}" required>
                </div>                
                <div class="mb-3">
                    <label class="form-label">Repite tu contraseña:</label>
                    <input type="password" class="form-control" name="{{ form.passrepeat.name }}" required>
                </div>
                <button type="submit" class="btn btn-success">Registrarse</button>-->
            </form>
        </div>
    </div>
    <p>Si ya tienes cuenta <a href="/accounts/register">accede</a></p>
{% endblock %}