{% extends 'base.html' %}

{% block content %}
    <div class="container my-3">
        <p>OnlyFlans es una empresa de reciente creación, por lo cual necesita mostrarse como una empresa seria y disponer de un espacio para mostrar los productos que se generan desde la empresa, es por esto que las ideas principales del sitio web que crearemos, serán por un lado la presentación de los productos vendidos al público general, así como también la presentación de productos especiales solo para los usuarios registrados, con el ﬁn de generar una base de clientes potenciales y una ﬁdelización de los clientes recurrentes, dejando la puerta abierta a futuras características como venta de productos a través de internet, entre otras.</p>
    </div>
{% endblock %}