{% extends 'base.html' %}

{% block css %}
    <style>
        /* Efecto mouse */
        .card {
            transition: transform 0.6s ease; /* Transición suave */
        }
        .card:hover {
            transform: scale(1.05); /* Aumenta el tamaño al 110% */
        }
        .card:hover .card-title {
            color: darkgreen; /* Cambiar color del nombre */
        }
        /*
        .card:hover .card-title {
            color: rgb(117, 123, 208); 
        }
        .card:hover .list-group-item {
            font-weight: bold;
        }*/
        /* Hacer el precio en negrita */
        /*
        ::placeholder{
            font-style: italic;
        }
        */
    </style>
{% endblock %}
    
{% block content %}
<div class="container my-2">
    <h3 class="text-center text-primary">
        Lista de Productos
    </h3>
    <div class="row">
        {%for flan in flanes_publicos %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{flan.imagen_url}}" class="card-img-top hover-shadow" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{flan.nombre}}</h5>
                        <p class="card-text">{{flan.descripcion}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <!--<li class="list-group-item">FLAN PÚBLICO</li>-->
                        <li class="list-group-item">{{flan.precio}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Pedir</a>
                        <a href="#" class="card-link">Comprar</a>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{% endblock%}