{% extends 'base.html' %}

{% block content %}
<div class="container my-2">
    <h3 class="text-center text-primary">
        Lista de Productos
    </h3>
    <div class="row">
        {%for producto in productos %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{producto.imagen_url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{producto.nombre}}</h5>
                        <p class="card-text">{{producto.descripcion}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">OFERTA</li>
                        <li class="list-group-item">{{producto.precio}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Pedir</a>
                        <a href="#" class="card-link">Comprar</a>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{% endblock%}